.page {
  display: flex;
  flex-direction: column;
  
  h1 {
    color: rgb(51,51,51);
  }
}

.posts {
  list-style-type: none;
  margin: 0;
  align-self: center;
}

.post {
  a {
    text-decoration: none;
  }
}
