$footerBg: #ff887b;
$btnSize: 45px;

.socialBtn {
  display: inline-block;
  width: $btnSize;
  height: $btnSize;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: $footerBg;
  overflow: hidden;
  position: relative;
  text-align: center;
  transition: 0.1s linear;

  i {
    line-height: $btnSize;
    font-size: 13;
  }

  &:hover {
    transform: scale(1.2);
  }
}
